*.bak

*.lst

*.lnp

*.obj

*.tmp

*.TMP

*.__i

*.crf

*.o

*.d

*.axf

*.dep

*.uvopt

*.htm

*.hsc

~*

*.map

*uvgui*

*.uvoptx

*.sct

*JLinkLog.txt

*.dbgconf

.vscode/tags

.vscode/

*.hex

*.lnk


*.scvd
*.iex
*.ini
*.c
哨兵(左云台)/YAM-Sentry（无继电器）/user/APP/gimbal_task/gimbal_task.c
*.c
